@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lato&family=Merriweather&family=Noto+Sans+Mono&family=Open+Sans&family=Poppins&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #32375e;
}

.login {
    width: 320px;
    height: 420px;
    background: #11132b;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 5rem;
}

.error-login {
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
    background-color: #e52342;
    color: white;
    margin-left: 450px;
    padding-top: 12px;
    height: 50px;
    width: 450px;
    border-radius: 30px 30px 30px 30px;
}

.login h1 {
    margin: 0;
    text-align: center;
    padding: 0 0 10px;
    font-size: 50px;
}

.login p {
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
}

.login p input[type="text"],
input[type="password"] {
    height: 40px;
    padding-left: 12px;
}

.login input {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 7.25rem;
}

.home h1 {
    font-size: 40px;
    text-align: center;
    border: 4px solid #15172b;
    color: white;
    background-color: #15172b;
    margin: 0px 350px 0px 350px;
    border-radius: 40px 40px 40px 40px;
    border: #fff solid;
}

.login_bu {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.cancel_bu {
    color: #fff;
    background-color: #e52342;
    border-color: #e52342;
}

.lc {
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.lc {
    cursor: pointer;
    opacity: 0.9;
}

.lc:hover {
    opacity: 1;
}

//Top-Nav Bar
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
}


/* nav styles */

.side-top-nav {
    display: flex;
    position: fixed;
    align-items: center;
    top: 0px;
    background-color: #15172b;
    border-radius: 33px 0px 33px 0px;
    border: 2px solid rgb(255, 255, 255);
}

.cur_user {
    font-size: 22px;
    color: rgb(250, 250, 250);
}

.topnav_button {
    top: 5rem;
    left: 18px;
    padding-left: 897px;
}

.topnav_button a {
    display: flex;
    text-align: center;
    padding: 10px 0;
}

.topnav_button a:hover {
    background-color: #32375e;
    border-radius: 30px 0px 30px 0px;
}

@media screen and (min-width: 600px) {
    .topnav_button {
        display: flex;
        position: static;
        width: auto;
        margin-right: 2px;
        background: none;
    }
    .topnav_button a {
        display: inline-block;
        padding: 15px 20px;
    }
    .topnav_links {
        display: none;
    }
}

.dropbb {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-transform: uppercase;
}

.dropmenu-content {
    display: none;
    position: fixed;
    background-color: #15172b;
    z-index: 1;
}

.dropmenu-content a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropmenu:hover .dropbb {
    background-color: #32375e;
    color: white;
    border-radius: 30px 0px 30px 0px;
}

.dropmenu-content a:hover {
    background-color: #32375e;
    color: rgb(255, 255, 255);
}

.dropmenu:hover .dropmenu-content {
    display: block;
}

//side-nav
.side-body {
    font-size: medium;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #15172b;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar-dr {
    padding: 8px 8px 18px 22px;
    margin: 38px 8px 18px 22px;
    text-decoration: none;
    color: #ffffff;
    background-color: #15172b;
    display: block;
    transition: 0.3s;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    font-family: inherit;
}

.sidebar-dr:hover {
    background-color: #32375e;
    border-radius: 30px 0px 30px 0px;
    padding-bottom: 30px;
}

.active {
    background-color: #32375e;
    border-radius: 30px 0px 30px 0px;
}

.dropdown-contain {
    display: none;
    background-color: #32375e;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
}

.dropdown-contain a {
    padding: 8px 8px 18px 22px;
    text-decoration: none;
    color: #e2e2e2;
    display: block;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}

.dropdown-contain a:hover {
    background-color: #15172b;
    border-radius: 30px 0px 30px 0px;
    padding-bottom: 30px;
}

.sidebar b {
    margin-top: 7px;
    padding: 0px 4px 0px 4px;
    text-decoration: none;
    font-size: 25px;
    color: #e2e2e2;
    display: block;
    transition: 0.3s;
}

.sidebar b:hover {
    background-color: #32375e;
    border-radius: 30px 30px 30px 30px;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 10px;
    cursor: pointer;
    background-color: #15172b;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border: 3px solid rgb(255, 255, 255);
}

.openbtn:hover {
    background-color: #15172b;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}

.wrapper {
    display: grid;
    margin-top: 70px;
    margin-left: 5%;
    margin-bottom: 3%;
    grid-template-rows: 250px 250px;
    grid-template-columns: 200px 200px 200px 200px 0px;
    grid-gap: 50px;
}

.box {
    width: 200px;
    background-color: #15172b;
    color: #fff;
    border-radius: 5px;
    font-size: 150%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: top;
    border-top: 3px solid rgb(0, 0, 0);
    border-left: 3px solid rgb(0, 0, 0);
}

.breadcrumb {
    margin-top: 80px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: #15172b;
    color: white;
    margin-left: 450px;
    padding-top: 12px;
    height: 50px;
    width: 450px;
    border-radius: 30px 30px 30px 30px;
    border: #fff solid;
    display: block;
}

.breadcrumb h5 {
    display: block;
    margin-block-start: 3px;
}

.usrtb h2 {
    text-align: left;
    padding-left: 10px;
    text-decoration: underline;
}

.usrtb button {
    background-color: #cbce0b;
    text-align: center;
    color: #fff;
    border: 1px solid #ffffff;
    font-weight: bold;
    margin-left: 750px;
    margin-top: 10px;
    padding: 0;
    text-align: center;
    padding: 7px 7px 7px 7px;
    border-radius: 16px;
    width: 90px;
    height: 40px;
}

.usrtb button:hover {
    opacity: 1;
    cursor: pointer;
    opacity: 0.9;
}

.usrtb {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 120px;
    margin-right: 105px;
    background-color: #15172b;
    color: white;
    display: block;
    border: 4px rgb(255, 255, 255) solid;
    border-radius: 7px 7px 7px 7px;
}

.tblfx {
    overflow-y: auto;
    height: 400px;
    display: flex;
}

.tblfx thead th {
    position: sticky;
    top: 0;
    padding: 8px 16px;
    border: 2px solid #ccc;
    background-color: #15172b;
    background: #15172b;
}

.tblfx table {
    border-collapse: separate;
    width: 100%;
    height: 50px;
}

.tblfx td {
    padding: 8px 16px;
    border: 1px solid #ccc;
}

.form-usr {
    width: 1100px;
    margin-top: 120px;
    text-align: center;
    margin-left: 140px;
    margin-right: 305px;
    background-color: #15172b;
    color: white;
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    border-radius: 30px 30px 30px 30px;
    border: 7px rgb(247, 247, 247) solid
}

.form-usr p label {
    align-items: center;
    margin-bottom: 1000px;
}

.form-usr h2 {
    margin-bottom: 50px;
    font-size: 40px;
    text-decoration: underline;
}

.form-usr h3 {
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 17px;
}

.form-usr span {
    font-size: 17px;
    text-align: left;
    padding-left: 130px;
    padding-right: 67px;
    margin-right: 80px;
}

.form-usr span1 {
    font-size: 17px;
    text-align: left;
    padding-left: 100px;
    margin-right: 150px;
}

.form-usr p input[type="date"] {
    margin-top: 0px;
    font-weight: bold;
    width: 300px;
    height: 37px;
    padding-left: 12px;
    margin-left: 22px;
    font-size: 17px;
    background-color: #ffffff;
    border: 2px solid white;
    border-radius: 3px;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.form-usr p input[type="text"] {
    width: 300px;
    height: 37px;
    padding-left: 32px;
    margin-top: 0px;
    font-size: 17px;
    margin-left: 13px;
    margin-right: 10px;
    background-color: #ffffff;
    border: 2px solid white;
    border-radius: 3px;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.form-usr p input[type="password"] {
    width: 300px;
    height: 37px;
    margin-right: 22px;
    padding-left: 32px;
    margin-top: 0px;
    font-size: 17px;
    background-color: #ffffff;
    border: 2px solid white;
    border-radius: 3px;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.form-usr p input[placeholder="Enter First Name"],
input[placeholder="Enter First Name"],
input[placeholder="Enter Last Name"],
input[placeholder="Enter Username"],
input[placeholder="Enter Email"],
input[placeholder="Enter Passcode"],
input[placeholder=" Enter Employee No."],
input[placeholder=" Enter Organization"] {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration-color: #e2e2e2;
}

.form-usr p input:focus {
    outline: 0;
    border: 2px solid #149e1b;
}

.form-usr select {
    font-size: 17px;
    text-align: center;
    padding-left: 20px;
    margin-right: 20px;
    width: 300px;
    height: 40px;
    color: #fff;
    background-color: #32375e;
    border-radius: 3px;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.form-usr select:focus {
    outline: 0;
    border: 2px solid #149e1b;
}

.form-usr select:hover {
    opacity: 1;
    cursor: pointer;
    opacity: 0.9;
}

.form-usr input {
    width: 400px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    padding-left: 30px;
}

.form-usr button {
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 40px;
    border-radius: 7.25rem;
    font-size: 20px;
    text-align: center;
    color: #fff;
    background-color: #28a745;
    border: 1px solid #ffffff;
    border-color: #28a745;
    font-weight: bold;
    border-radius: 30px 30px 30px 30px;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.form-usr button:focus {
    outline: 0;
    border: 2px solid #ffffff;
}

.form-usr button:hover {
    opacity: 1;
    cursor: pointer;
    opacity: 0.9;
}

.exist {
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
    background-color: #0ba6c2;
    color: white;
    margin-left: 350px;
    height: 50px;
    width: 400px;
    border-radius: 30px 30px 30px 30px;
}

.edit-usr {
    width: 1100px;
    margin-top: 120px;
    text-align: center;
    margin-left: 140px;
    margin-right: 305px;
    background-color: #15172b;
    color: white;
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    border-radius: 30px 30px 30px 30px;
    border: 7px rgb(247, 247, 247) solid
}

.edit-usr p label {
    align-items: center;
    margin-bottom: 1000px;
}

.edit-usr h2 {
    margin-bottom: 50px;
    font-size: 40px;
    text-decoration: underline;
}

.edit-usr h3 {
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 17px;
}

.edit-usr span {
    font-size: 17px;
    text-align: left;
    padding-left: 130px;
    padding-right: 67px;
    margin-right: 80px;
}

.edit-usr span1 {
    font-size: 17px;
    text-align: left;
    padding-left: 100px;
    margin-right: 150px;
}

.edit-usr p input[type="date"] {
    margin-top: 0px;
    font-weight: bold;
    width: 300px;
    height: 37px;
    padding-left: 12px;
    margin-left: 22px;
    font-size: 17px;
    background-color: #ffffff;
    border: 2px solid white;
    border-radius: 3px;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.edit-usr p input[type="text"] {
    width: 300px;
    height: 37px;
    padding-left: 32px;
    margin-top: 0px;
    font-size: 17px;
    margin-left: 13px;
    margin-right: 10px;
    background-color: #ffffff;
    border: 2px solid white;
    border-radius: 3px;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.edit-usr p input[type="password"] {
    width: 300px;
    height: 37px;
    margin-right: 22px;
    padding-left: 32px;
    margin-top: 0px;
    font-size: 17px;
    background-color: #ffffff;
    border: 2px solid white;
    border-radius: 3px;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.edit-usr p input[placeholder="Enter First Name"],
input[placeholder="Enter First Name"],
input[placeholder="Enter Last Name"],
input[placeholder="Enter Username"],
input[placeholder="Enter Email"],
input[placeholder="Enter Passcode"],
input[placeholder=" Enter Employee No."],
input[placeholder=" Enter Organization"] {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration-color: #e2e2e2;
}

.edit-usr p input:focus {
    outline: 0;
    border: 2px solid #149e1b;
}

.edit-usr select {
    font-size: 17px;
    text-align: center;
    padding-left: 20px;
    margin-right: 20px;
    width: 300px;
    height: 40px;
    color: #fff;
    background-color: #32375e;
    border-radius: 3px;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.edit-usr select:focus {
    outline: 0;
    border: 2px solid #149e1b;
}

.edit-usr select:hover {
    opacity: 1;
    cursor: pointer;
    opacity: 0.9;
}

.edit-usr input {
    width: 400px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    padding-left: 30px;
}

.edit-usr button {
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 40px;
    border-radius: 7.25rem;
    font-size: 20px;
    text-align: center;
    color: #fff;
    background-color: #28a745;
    border: 1px solid #ffffff;
    border-color: #28a745;
    font-weight: bold;
    border-radius: 30px 30px 30px 30px;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.edit-usr button:focus {
    outline: 0;
    border: 2px solid #ffffff;
}

.edit-usr button:hover {
    opacity: 1;
    cursor: pointer;
    opacity: 0.9;
}

//Top